<!-- <h2>All Posts</h2> -->


<!-- <ul> -->

  <% @posts.each do |post| %>
    <!-- <li> -->
      <h2 class="post-title">

        <%= link_to((post.title), post)%>


      </h2>
      <p class="post-meta">Posted by: <%= post.user.user_name %> @ <%= post.created_at %></p>

      <%#= link_to post.user.user_name, post_user_path %>


      <p><%= (post.content[0..100] + "...") %></p>
      <p>Likes: <%= post.post_likes.count%></p>
      <br>
      <p>Comments: <%= post.comments.count%></p>
    <!-- </li> -->

<button><%= link_to("Like", new_post_like_path(post_id: post.id, user_id: @current_user))%></button>
    <hr>

  <% end %>


<!-- </ul> -->