<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <!-- star css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <title># OctoThorp</title>

  </head>

  <body>

    <div class="wrapper">
      <!-- <div class="gavin"> -->
        <div class="one">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </div>
            </div>
          </nav>



            <a href="/" class="item" id="home-logo">
                <h1># OctoThorp</h1>
            </a>
        </div>
        <div class="two">
          <% if logged_in? %>
              <button class="button" style="vertical-align:middle">
                  <span>
                      <%= link_to("Create New Post", new_post_path)%>
                  </span>
              </button>
              <button class="button" style="vertical-align:middle">
                  <span>
                    <%= link_to("Profile", @current_user)%>
                  </span>
              </button>
              <button class="button" style="vertical-align:middle">
                  <span><%= link_to("Logout", logout_path)%>
                  </span>
              </button>
          <% else %>
              <button class="button" style="vertical-align:middle">
                  <span><%= link_to("Create Account", new_user_path)%>
                  </span>
              </button>
              <button class="button" style="vertical-align:middle">
                  <span><%= link_to("Login", login_path)%>
                  </span>
              </button>
          <% end %>
          <!-- </div> -->
      </div>
      <div class="three">
        <div class="icon-bar">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google"><i class="fa fa-google"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
        </div>

      </div>
      <div class="four"><%= yield %></div>
      <div class="five">
        <h2>Site Analytics</h2>
        Total blog word count:
            <ul><li><%= Post.total_word_count %></li></ul>
        Most likes on any post:
            <ul><li><%= Post.most_likes  %></li></ul>
        Avg Post Word Count:
            <ul><li><%=  Post.average_word_count  %></li></ul>
        Total Likes:
            <ul><li><%=  Post.total_likes  %></li></ul>
        Avg Likes Per Post:
            <ul><li><%=  Post.avg_likes_per_post  %></li></ul>

      </div>
      <div class="six">
        <% if logged_in? %>
            <button class="button" style="vertical-align:middle">
                <span>
                    <%= link_to("Create New Post", new_post_path)%>
                </span>
            </button>
            <button class="button" style="vertical-align:middle">
                <span>
                  <%= link_to("Profile", @current_user)%>
                </span>
            </button>
            <button class="button" style="vertical-align:middle">
                <span><%= link_to("Logout", logout_path)%>
                </span>
            </button>
      <% else %>
            <button class="button" style="vertical-align:middle">
                <span><%= link_to("Create Account", new_user_path)%>
                </span>
            </button>
            <button class="button" style="vertical-align:middle">
                <span><%= link_to("Login", login_path)%>
                </span>
            </button>
        <% end %>
      </div>
    </div>




  </body>
</html>
